.container
  .row
    .col-md-12.jumbotron
      %h1 Topics
.container
  .row
    - @topics.each do |topic|
      .col-md-4
        .list-group-item
          %h3
            = link_to topic.title, topic_path(topic)
          %br
          = topic.initial_post
          %br
          = topic.created_at.strftime("created at %I:%M%p by #{current_user.email}")
          %br
          %br
.container
  .row
    .col-md-12.text-center
      = link_to "Home", root_path
      |
      = link_to "Add Topic", new_topic_path
