.container
  .row
    .col-md-12.text-center
      = form_for [@topic, @post] do |f|
        .form-group
          = f.label :title
          = f.text_field :title
        %br
        .form-group
          = f.label :content
          = f.text_area :content
        %br
        .btn
          = f.submit